/* general & body config */

body{
    display: flex;
    justify-content: center;
            border: dashed blue 1px;
}

button {
    padding:18px;
    display:block;
            border: solid purple 1px;
    flex:1 1 auto;
    min-width:40px;
    min-height: 40px;
    text-align: center;
    line-height: 0px;
}

div.background {
    background-color: pink;
    display: flex;
    flex-direction: column;
        border: dashed red 1px;
    padding: 1em;
    margin: 1em;
    width: 600px;
    align-items: center;
}

/* visor and name */

h1#name{
    font-size: medium;
    align-self: flex-start;
        border: purple 1px solid;
}

div.visor {
        border: solid purple 1px;
    min-width: 200px;
    min-height: 50px;
    flex-grow:0;
}

/* corpo of calculator */

div.corpo {
        border: solid red 3px;
}

div.upper-row {
    border: dashed yellow 2px;
    display: flex;
}

div.bottom-row {
    border: dashed yellow 2px;
    display: flex;
}

/* left column */
div.left-column{
        border:green dashed 1px;
    align-content: flex-start;
    flex:1;
    display: flex;
    flex-direction: column;
}

/* number row */
div.first {
    border: white solid 1px;
    display: flex;
    gap: 1em;
}

div.second {
    border: white solid 1px;
    display: flex;
    gap: 1em;
}

div.third {
    border: white solid 1px;
    display: flex;
    gap: 1em;
}

div.forth {
    border: white solid 1px;
    display: flex;
    gap: 1em;
}

div.left-column button {
    min-width: 60px;
    min-height: 60px;
}

/* right column */

div.operators{
    display: flex;
    flex-direction: column;
    border: green dashed 1px;
    align-content: flex-start;
    flex:1;
    gap:1em;
}

div.operators button {
    flex: 0 1 auto;
}

div.operators button#add {
    flex: 1;
}
