
/* Layout */

/* general & body config */

body{
    display: flex;
    justify-content: center;
    align-items: center;
            /* border: dashed blue 1px; */
    padding-left:3em;
    padding-right:3em;
    gap: 16px;
    flex-direction: column;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button {
    padding:18px;
    display:block;
            /* border: solid purple 1px; */
    flex:1;
    min-width: 50px;
    min-height: 50px;
    text-align: center;
    line-height: 0px;
}

div.background {
    /* background-color: #ffcccc; */
    display: flex;
    flex:1;
    max-width: fit-content;
    flex-direction: column;
        /* border: dashed red 1px; */
    margin-top: 2em;
    padding: 2em;
    align-items: center;
    gap: 24px;
}

div.menu {
    display: flex;
    gap:8px;
    justify-content: space-evenly;
    align-items: center;
    flex:1;
}

/* visor and name */

h1#name{
    font-size: xx-small;
    flex:0;
    text-align: center;
    align-content: center;
    /* border: purple 1px solid; */
}

div.visor {
        /* border: solid purple 1px; */
    min-width: 250px;
    min-height: 55px;
    max-width: 250px;
    flex:1;
    align-content: center;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

div.visor p {
    padding-left:1em;
    padding-right:1em;
}

/* corpo of calculator */

div.corpo {
        /* border: solid red 3px; */
    display: flex;
    flex-direction: column;
    gap:12px;
    flex:1;
}

div.upper-row {
    /* border: dashed yellow 2px; */
    display: flex;
    gap:12px;
}

div.bottom-row {
    /* border: dashed yellow 2px; */
    display: flex;
    gap:12px;
}

/* left column */
div.left-column{
        /* border:green dashed 1px; */
    align-content: flex-start;
    gap:12px;
    flex:1;
    display: flex;
    flex-direction: column;
}

/* number row */
div.first {
    /* border: white solid 1px; */
    display: flex;
    gap:12px;
}

div.second {
    /* border: white solid 1px; */
    display: flex;
    gap:12px;
}

div.third {
    /* border: white solid 1px; */
    display: flex;
    gap:12px;
}

div.forth {
    /* border: white solid 1px; */
    display: flex;
    gap:12px;
}

/* right column */

div.operators{
    display: flex;
    flex-direction: column;
    /* border: green dashed 1px; */
    flex:1;
    gap:12px;
    justify-content: space-between;
}


/* style */

body {
    font-family: 'Quicksand', sans-serif;
}

/* background */
div.background {
    background-color: #ffecec;
    border-radius: 1em;
    box-shadow: 0 4px 12px 0 #3F3F5F;
}

/* visor */
div.visor {
    color:#1b1b27;
    background-color:#fdf5f5;
    border-radius: 1em;
    box-shadow: 1px 1px 5px #3F3F5F;
    cursor: not-allowed;
    font-weight: bold;
    /* scrollbar-width: thin; */
    scrollbar-color: #ba9eb5 transparent;
}

/* buttons */
button {
    border-radius: 2em;
    background-color: #ffcccc;
    box-shadow: 1px 1px 5px #3F3F5F;
    border:0;
    color: #1b1b27;
    font-weight:medium;
    transition: background-color 0.2s ease, transform 0.1s ease;
    border: 1px solid transparent;
}

.left-column button {
    background-color: #e0b8c2;
}

button#equal {
    background-color: #ffcccc;
    color: #1b1b27;    
}

div.menu button {
    min-height: 30px;
}

/* Pseudo-elements */

button:active {
  background-color: #e0b8c2;
    box-shadow: 1px 1px 5px #3F3F5F;
  transform: translateY(5px);
}

button#equal:active {
    background-color: #e0b8c2;
}

.left-column button:active{
    background-color: #ba9eb5;
}

button:hover {
    border:#fdebeb solid 1px;
    cursor: pointer;
}

/* zoom in and out */

div.zoom {
    /* border:red solid 1em; */
    display: flex;
    flex:0;
    gap:8px;
    flex-basis: auto;
}

div.zoom button {
    font-size: x-small;
    min-width: 90px;
    min-height: 40px;
}

/* toggle */

.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 35px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
  
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#ffecec;
  -webkit-transition: .4s;
  transition: .4s;
    box-shadow: 1px 1px 5px #3F3F5F;

}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color:#fdf5f5;
  -webkit-transition: .4s;
  transition: .4s;
  border:#ffcccc solid 1px;
}

input:checked + .slider {
  background-color:#ba9eb5;
}

input:focus + .slider {
  box-shadow:1px 1px 5px #3F3F5F;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* night-mode */
body.night-mode {
  background-color: #1b1b27;
  color: #ffecec;
}

body.night-mode .background {
  background-color: #ba9eb5;
}